#new-idea-form {
  margin-top: 10%;
  text-align: center;
}

#edit-idea-form {
  margin-top: 10%;
  text-align: center;
}


#title-field{
  width: 20%;
}

#body-field{
  width: 40%;
}

#ideas {
  list-style-type: none;
}

#idea-search {
  margin-top: 5%;
  margin-left: 15%;
  margin-bottom: 5%;
  width: 69.5%;

}
